  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

* {
    --brightOrange: hsl(31, 77%, 52%);
    --darkCyan: hsl(184, 100%, 22%);
    --veryDarkCyan: hsl(179, 100%, 13%);

    --transparentWhite: hsla(0, 0%, 100%, 0.75);
    --veryLightGray: hsl(0, 0%, 95%); 
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    color: var(--veryLightGray);
    margin: 18px 0;
    font-size: 48px;

}

p {
    font-size: 15px;
    color: var(--transparentWhite);
    margin-right: 10px;
}

.btn {
    border-radius: 25px;
    border: none;
    display: block;
    background-color: white;
    position: absolute;
    bottom: 36px;
    padding: 10px 20px;
}

.carType {
    height: 80vh;
    padding: 10vw;
    position: relative;
}

#sedan {
    background-color: var(--brightOrange);
}

#suvs {
    background-color: var(--darkCyan);
}

#sedan button {
    color: var(--brightOrange); 
}

#suvs button {
    color: var(--darkCyan);
}  

#luxury button {
    color: var(--veryDarkCyan);
}

#luxury {
    background-color: var(--veryDarkCyan);
}

.icon {
    margin-top: 24px;
    width: 50px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }